nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #561C24;
    position: fixed;
    position: -webkit-sticky; /*For Safari*/
    position: sticky;
}

nav li {
    flex: 1;
    border: 2px solid #a7835b;
}

nav li a{
    display: block;
    color: #F5F5DC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*This removes the underline of the anchor*/
    font-weight: bold;
}

.activePage{
    background-color: #a0917f;
}

nav li a:hover:not(.activePage){
    background-color: #7c4149;
}

img{
    height: 300px;
    width: 500px;
}

body{
    font-family: Garamond, Serif;
    background-color: #E8D8C4;
}

h1{
    font-size: 30px;
    color: #3C3D37;
}

p{
    font-size: 18px;
    color: #3C3D37;
}

a{
    font-size: 18px;
    color: #a7835b;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #561C24;
    padding: 10px;
}

footer p{
    font-size: 18px;
    color: #cfa87b;
}

.leftDiv{
    flex: 1;
}

.rightDiv{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

table{
    width: 100%;
    margin: 20px;
    font-size: 16px;
    text-align: center;
}

th, td{
    padding: 12px 15px;
    border: 1px solid #3C3D37;
}

th{
    background-color: #7c4149;
    color:#561C24;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: #a7835b;
}

tr:hover{
    background-color: aqua;
}